// Animation Opacity

.has-fade {
    visibility: hidden;
}

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}
.fade-in {
    animation: fade-in 200ms ease-in-out  forwards;
}


@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}
.fade-out {
    animation: fade-out 300ms ease-in-out  forwards;
}

// Colapse Sidebar

.collapsible {
                        
    background-color: $white;
    cursor: pointer;
    padding: 18px 18px 18px 0px;
    width: 100%;
    border: none;
    outline: none;
    color: $black;
    font-weight: normal;
    font-size: $font-14; 
    text-transform: capitalize;
    text-align: left;
    border-top: 1px solid $ligthGray;

    &::after {
        content: '';
        background-image: url('/images/icons/mas.svg');
        width: 16px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 5px;
        float: right;
      }
  }
  
  .active:after {
    content: '';
    background-image: url('/images/icons/menos.svg');
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
    float: right;
  }
  
  .content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: $white;
  }