html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
}

.container {
  width: 80rem;
  margin: 0 auto;
}

// Flexbox
.flex {
    display: flex;
  
    //Class Helps
    &-jc-sb {
      justify-content: space-between;
    }
  
    &-jc-c {
      justify-content: center;
    }
  
    &-ai-c {
      align-items: center;
    }
  
  
  }
  