.header {
    border-bottom: 1px solid $ligthGray;

    &__offer {
        background-color: $black;
        height: 40px;

        p {
            color: $white;
            font-size: $font-15;
            font-weight: 600;
            margin: 0;
            padding: 0;
            text-transform: full-size-kana;

            > span {
                font-weight: normal;
            }
        }
    }

    nav {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__logo {
        width: 158px;
        height: 32px;
    }

    &__links {
        display: flex;
        justify-content: end;        

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        ul > li {
            display: inline-block;
            
            &:not(:last-child) {
                margin-right: 32px;
            }

            &:hover >.sub-menu{
                display: block;
              }

        }

        a {
            text-decoration: none;
            display: block;
            font-size: $font-14;
            color: $black;
            text-transform: uppercase;
            letter-spacing: 1.4px;
            transition: color 200ms ease-in-out;

            &:hover{
                color: $red;
            }

        }

        .sub-menu {
            display:none;
            position: absolute;
            background: #f2f2f2;
            width: 150px;

            > li {
                display: block;

                a {
                    display: inline-block;
                    padding: 0 0.5em;
                    height: 40px;
                    line-height: 40px;
                    width: 100%;
                    color: $black;
                    transition: color 200ms ease-in-out;

                    &:hover{
                        color: $red;
                    }
                }
            }
        }
    }

    &__search {
        border-bottom: 1px solid $black;
        padding-bottom: 2px;
        
        button  {
            background-image: url('/images/icons/search.svg');
            background-color: transparent;
            width: 16px;
            height: 16px;
            border: none;
        }
        
        input {
            border: none;
            width: 131px;
            font-size: $font-12;

            &::placeholder {
                text-transform: uppercase;
                
            }

            &:focus {
                outline: none;
            }

            &:active {
                border: none;
            }
        }

    }

    &__cta {
        display: flex;
        align-items: center;

        a {
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-size: $font-15;
            color: $gray;
            padding-right: 8px;
            transition: color 200ms ease-in-out;

            &:hover{
                color: $red;
            }

            
        }
        > span {  
            display: inline-block;
            background-image: url('/images/icons/bag.svg');
            width: 40px;
            height: 69px;
            background-size: contain;
            background-repeat: no-repeat;
        }

    }

    &__toggle{
        > span {
            display: block;
            width: 18px;
            height: 2px;
            background-color: $black;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }

        
    }


}