.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out  forwards;
          animation: fade-in 200ms ease-in-out  forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out  forwards;
          animation: fade-out 300ms ease-in-out  forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 80rem;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  border-bottom: 1px solid #d9d9d9;
}

.header__offer {
  background-color: black;
  height: 40px;
}

.header__offer p {
  color: white;
  font-size: 0.9375rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-transform: full-size-kana;
}

.header__offer p > span {
  font-weight: normal;
}

.header nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header__logo {
  width: 158px;
  height: 32px;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__links ul > li {
  display: inline-block;
}

.header__links ul > li:not(:last-child) {
  margin-right: 32px;
}

.header__links ul > li:hover > .sub-menu {
  display: block;
}

.header__links a {
  text-decoration: none;
  display: block;
  font-size: 0.875rem;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header__links a:hover {
  color: #d81313;
}

.header__links .sub-menu {
  display: none;
  position: absolute;
  background: #f2f2f2;
  width: 150px;
}

.header__links .sub-menu > li {
  display: block;
}

.header__links .sub-menu > li a {
  display: inline-block;
  padding: 0 0.5em;
  height: 40px;
  line-height: 40px;
  width: 100%;
  color: black;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header__links .sub-menu > li a:hover {
  color: #d81313;
}

.header__search {
  border-bottom: 1px solid black;
  padding-bottom: 2px;
}

.header__search button {
  background-image: url("/images/icons/search.svg");
  background-color: transparent;
  width: 16px;
  height: 16px;
  border: none;
}

.header__search input {
  border: none;
  width: 131px;
  font-size: 0.75rem;
}

.header__search input::-webkit-input-placeholder {
  text-transform: uppercase;
}

.header__search input:-ms-input-placeholder {
  text-transform: uppercase;
}

.header__search input::-ms-input-placeholder {
  text-transform: uppercase;
}

.header__search input::placeholder {
  text-transform: uppercase;
}

.header__search input:focus {
  outline: none;
}

.header__search input:active {
  border: none;
}

.header__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__cta a {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.9375rem;
  color: #999999;
  padding-right: 8px;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header__cta a:hover {
  color: #d81313;
}

.header__cta > span {
  display: inline-block;
  background-image: url("/images/icons/bag.svg");
  width: 40px;
  height: 69px;
  background-size: contain;
  background-repeat: no-repeat;
}

.header__toggle > span {
  display: block;
  width: 18px;
  height: 2px;
  background-color: black;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.shop__breadcrumb {
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  margin-bottom: 50px;
}

.shop__breadcrumb ul {
  list-style: none;
  margin-bottom: 0;
}

.shop__breadcrumb ul li {
  font-size: 0.6875rem;
  font-weight: normal;
}

.shop__breadcrumb ul li h1 {
  color: black;
  font-size: 1.75rem;
  font-weight: normal;
}

.shop__breadcrumb ul li > span {
  display: inline-block;
  background-image: url("/images/icons/arrow.svg");
  width: 10px;
  height: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.shop__wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.shop__wrap .left {
  width: 379px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.shop__wrap .left p {
  color: black;
  font-weight: normal;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.shop__wrap .left .sidebar aside {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.shop__wrap .left .sidebar aside .collapsible {
  background-color: white;
  cursor: pointer;
  padding: 18px 18px 18px 0px;
  width: 100%;
  border: none;
  outline: none;
  color: black;
  font-weight: normal;
  font-size: 0.875rem;
  text-transform: capitalize;
  text-align: left;
  border-top: 1px solid #d9d9d9;
}

.shop__wrap .left .sidebar aside .collapsible:after {
  content: '';
  background-image: url("/images/icons/mas.svg");
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
  float: right;
}

.shop__wrap .left .sidebar aside .active:after {
  content: '';
  background-image: url("/images/icons/menos.svg");
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
  float: right;
}

.shop__wrap .left .sidebar aside .content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  background-color: white;
}

.shop__wrap .left .sidebar aside h4 {
  color: black;
  font-weight: normal;
  font-size: 0.875rem;
  text-transform: capitalize;
}

.shop__wrap .left .sidebar ul {
  list-style: none;
  padding: 0;
}

.shop__wrap .left .sidebar ul li :not(:last-child) {
  margin-bottom: 20px;
}

.shop__wrap .left .sidebar ul li input {
  margin: 0;
}

.shop__wrap .left .sidebar ul li > label {
  margin-left: 10px;
  font-size: 0.875rem;
  color: #999999;
  font-weight: normal;
  text-transform: capitalize;
}

.shop__wrap .right {
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
  width: 100%;
  background-color: black;
}
/*# sourceMappingURL=style.css.map */